# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse buildship stuff
.classpath
.project
.settings/
bin/

# Ignore Antlr plugin stuff
.antlr/

# Ignore mac os stuff
.DS_Store

# Ignore code generation stuff
spec/c99gen/
spec/tacgen/